<!--BEGIN top bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">My Cookbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="library">My Recipes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Recipes">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--END top bar-->

<div id="home">
	<div class="container">
		<div class="row">
			
			<form action="/add" method="POST">
				<div id="newRecipeForm" class="form-group">
					<label for="newRecipeName">Recipe Name</label>
					<input name="recipe_name" class="form-control form-control-lg" type="text">

					<div class="form-group">
						<label for="newRecipeServings">Servings</label>
						<select class="form-control" name="number_of_servings">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
						</select>
					</div>

					<label for="newRecipeTime">Total Time</label>
					<input name="total_time" class="form-control form-control-lg" type="text" placeholder="00:00:00">

					<label for="newRecipeingredients">Ingredients (separate with commas)</label>
					<input name="ingredients" class="form-control form-control-lg" type="text">

					<label for="newRecipeDirections">Directions</label>
					<textarea class="form-control" name="directions" rows="4"></textarea>
					<button id="newRecipeSubmit" type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</form>
</div>
