<!--BEGIN top bar-->
  <div class="">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="library">Recipe Library</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->
    </ul>
  </div>
  <!--END top bar-->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8">
        
        <h2>Home Page</h2>
        <hr>
        
      </div>
    </div>
  </div>
</div>

