<!--BEGIN top bar-->
  <div class="">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="library">Recipe Library</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->
    </ul>
  </div>
  <!--END top bar-->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 text-align-center">
        <h1>Recipe Library</h1>
        <hr>
        {{#each recipes}}
        <form action= "/viewer/{{this.recipe_name}}" method="GET">
        <button type= "submit">{{this.recipe_name}}</button>
        </form>
{{/each}}
      </div>
    </div>
  </div>
</div>

<div class="">
  <!--add new recipe button-->
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/logic.js"></script>
