<!--BEGIN top bar-->
  <div class="">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="library">Recipe Library</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->
    </ul>
  </div>
  <!--END top bar-->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Recipe Library</h1>
        <hr>
        <h2>{{pageTitle}}</h2>
        
        <p>Servings: {{pageServings}}</p>
        <p>Recipe time: {{pageTime}}</p>
      </div>
    </div>
  </div>
</div>

<div class="">
  <!--add new recipe button-->
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/logic.js"></script>